.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3a3a;
    padding: 20px;
    color: var(--cor-branca );
    margin-top: 5%;
}

.contato {
    text-align: center;
}

.redes-sociais {
    text-align: left;
}

.redes-sociais a {
    margin-right: 10px;
}