.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(218,88,47,1);
    padding: 40px;
    color: var(--cor-branca );
    margin-top: 5%;
}

.contato {
    text-align: center;
}

.redes-sociais {
    text-align: left;
}

.redes-sociais a {
    margin-right: 10px;
}